.settings-screen {
  padding: 0px var(--horizontal-space);
  font-size: 17px;
}

.settings__list-top {
  margin-bottom: 20px;
}

.settings__list-middle {
  margin-top: 20px;
}

.settings__setting {
  padding: 17px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(249, 182, 213, 0.3);
}

.settings__setting:last-child {
  border-bottom: none;
}

.settings__column {
  display: flex;
}

.settings__icon {
  width: 30px;
  margin-right: 15px;
  font-size: 20px;
  text-align: center;
}

.new-alert {
  margin-left: 5px;
}
