@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200;300;400;500;600;700;800&display=swap");
@import "status-bar.css";
@import "welcome.css";
@import "variables.css";
@import "nav-bar.css";
@import "screen-header.css";
@import "user-component.css";
@import "friends.css";
@import "chats.css";
@import "badge.css";
@import "find.css";
@import "more.css";
@import "settings.css";
@import "alt-screen-header.css";
@import "chat.css";
@import "no-mobile.css";

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bkg-pink);
  color: var(--main-color);
  font-family: "MuseoModerno", cursive, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  margin: 0px;
  height: 110vh;
}

.main-screen {
  padding: 0px var(--horizontal-space);
  padding-top: 90px;
}

a {
  color: inherit;
  text-decoration: none;
}
