@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200;300;400;500;600;700;800&display=swap");

@import "component/status-bar.css";
@import "component/variables.css";
@import "component/nav-bar.css";
@import "component/screen-header.css";
@import "component/user-component.css";
@import "component/badge.css";
@import "component/alt-screen-header.css";
@import "component/no-mobile.css";

@import "screen/welcome.css";
@import "screen/friends.css";
@import "screen/chats.css";
@import "screen/find.css";
@import "screen/settings.css";
@import "screen/chat.css";
@import "screen/more.css";

* {
  box-sizing: border-box;
}

body {
  background-color: var(--bkg-pink);
  color: var(--main-color);
  font-family: "MuseoModerno", cursive, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  margin: 0px;
  height: 100vh;
}

.main-screen {
  padding: 0px var(--horizontal-space);
  padding-top: 90px;
}

.header-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
}

.clear {
  height: 60px;
}

a {
  color: inherit;
  text-decoration: none;
}
