.more {
  padding-top: 80px;
}

.more-screen .user-component {
  margin-bottom: 12px;
}

.user-component__my-btn {
  padding: 2px 15px;
  border-radius: 20px;
  border: 1px solid var(--sub-color);
  cursor: pointer;
  font-size: 18px;
  color: var(--main-color);
}

.more__pay {
  background-color: var(--btn-pink);
  padding: 11px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px 0px;
  border-radius: 10px;
}

.pay-btn {
  background-color: #ed81a7;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
}

.pay-btn__kakao {
  font-weight: 600;
  font-size: 23px;
  margin-right: 1px;
}

.pay-btn__kakao i {
  font-size: 16px;
  margin-right: -4px;
}

.pay__list {
  font-size: 17px;
  cursor: pointer;
  display: flex;
}

.pay__send {
  padding: 0px 10px;
}

.pay__pay {
  padding: 0px 10px;
}

.pay__list .divider {
  width: 1px;
  height: 12px;
  margin: 0px 1px;
}

.pay__asset {
  padding: 0px 10px;
}

.more__btn-list {
  margin-top: 20px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.more-btn {
  width: 25%;
  min-height: 90px;
  text-align: center;
  cursor: pointer;
}

.more-btn__title {
  font-size: 13px;
}

.more-btn__icon {
  padding-bottom: 10px;
}

.more__mail {
  padding: 11px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  border: 1px solid var(--btn-pink);
  font-size: 18px;
}

.mail__mail-btn {
  padding: 10px 10px;
  cursor: pointer;
}

.mail-btn__mail {
  margin-right: 5px;
}

.calendar__event-btn,
.mail-btn__join {
  opacity: 0.55;
}

.calendar__calendar-btn {
  margin-right: 5px;
}

.mail__calendar {
  cursor: pointer;
}

.more-btn__icon .game {
  position: relative;
}

.more__alert {
  position: absolute;
  right: 40px;
}
